<h3 style="font-family:Impact;font-size:200px;color:#000000">Time Volt</h3>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">



<style>
h3 {text-align: center;}

	body{
		background-color: #FC9748;
	}

	input{
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
	}

	.submit{
		background-color: #44f520;
	}

	.center-column{
		width:600px;
		margin: 20px auto;
		padding:20px;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
	}

	.item-row{
		background-color: #906abd;
		margin: 10px;
		padding: 20px;
		border-radius: 3px;
		color: #fff;
		font-size: 16px;
		box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
	}

	.btn-danger{
		background-color: #FF0000;
	}

    .btn-danger:hover{
		background-color: #805353;
		border-color: #e59400;
	}

	.timer{
	    background-color: #31BD9D;
		border-radius: 5px;
		padding: 5.5px;
	}





</style>
<div class="center-column">
    <b>Input a Task</b>
    <form method="POST" action="/">
        {% csrf_token %}
        <b>Task Name</b>
        {{form.title}}
        <b>Task Due Date</b>
        {{form.due}}
        <input class="btn btn-info" type="submit" name="Create Task">
    </form>

    <div class="todo-list">
        <h5> Tasks To Do:</h5>
        {% for task in tasks %}
        <div class="item-row">
            <a class="btn btn-sm btn-info" href="{% url 'update_task' task.id %}">Update</a>
            <!--Creates a link to update task  -->
            <a class="btn btn-sm btn-danger" href="{% url 'delete' task.id %}">Delete</a>

            {% if task.complete == True %} <!-- Check if task is marked complete -->
            <strike>{{task}}</strike>
            {% else %}
            <span>{{ task|truncatechars:21 }}</span>
            <span style="float:right;" class="timer"><b>Due: </b>{{ task.due|timeuntil }}</span>
            {% endif %}
        </div>

        {% endfor %}
    </div>


</div>

