<h3>Time Volt</h3>

<div class="center-column">
  Input a Task:
  <form method="POST" action="/">
    {% csrf_token %}
    {{form.title}}
    <input class="btn btn-info" type="submit" name="Create Task" >
  </form>

  <div class="todo-list">
    {% for task in tasks %}
    <div class="item-row">
      <a class="btn btn-sm btn-info" href="{% url 'update_task' task.id %}">Update</a> <!--Creates a link to update task  -->
      <a class="btn btn-sm btn-danger" href="{% url 'delete' task.id %}">Delete</a>

      {% if task.complete == True %} <!-- Check if task is marked complete -->
      <strike>{{task}}</strike>
      {% else %}
      <span>{{task}}</span>
      {% endif %}
    </div>

    {% endfor %}
  </div>

</div>
